.myPrimaryBtn > span{
    background-color: #610091;
    border: none;
    color: white;
}

.myPrimaryBtn:hover > span{
    background-color: #b269d6 !important;
    border: none;
    color: white !important;
}
